*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    padding: 50px;
}

.container table,th,td{
    border: 1px solid black;
}
.container table{
    width: 50%;
    border-collapse: collapse;
}
